
  body{

    background-image: url('../images/movie.png');
      }

    h1{

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-align:center;
    font-size: 48px;
    text-transform: capitalize;
      }
  
/* styling the start button */
    #start{

    font-size: 30px;
    padding: 20px 50px 20px 50px;
    margin-top: 90px;
    margin-left: 380px;
      }

/* styling the container and the main section */
    #container{
    
    margin: 3% auto;
    width: 900px;
    min-height: 500px;
    border: 2px solid gray;
    background-color: rgba(231, 221, 221, 0.5);
    
    }

    #main-section{

    margin:0 auto;
    }


/* Questions and inputs */
    form{

    margin:0 auto;
    }
    .radio-button{

    margin-top:30px;
    margin-bottom: 30px;
    margin-left: 180px;
      } 

    .question{

    font-size: 18px;
    margin:0 auto;
    
    }
    
    p{

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-align: center;
    margin-bottom: 30px;
    }
    
    #first2{

    margin-left:100px;
    } 
    #second2{
    margin-left:220px;
    }
    #first3{
    margin-left: 120px;
    }

    #second3{
    margin-left:200px;
    }